<%# <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid"> %>
    <%# link_to 'Folks', root_path, class: "navbar-brand"  %>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> %>
    <%# <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"> %>
          <%# link_to "About Us", home_about_path, class: "nav-link" %>
        <%# </li>
      </ul>
    </div>
  </div>
</nav> %>


<header id="headerBar" class="flex flexAlignItemsCenter flexJustifyBetween boxShadowDown horizontalScrollContainer scrollBarStyle">
  <nav id="navBar" class="flex flexJustifyBetween padleft30">
    <a>
      <%= link_to "Me", root_path, class: "item" %>
    </a>
    <a>
      <%= link_to "Folks List", folks_path, class: "item" %>
    </a>
    <a>
      <%= link_to "About Us", home_about_path, class: "item" %>
    </a>

    <% if user_signed_in? %>
      <a>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete ,class: "item" %>
      </a>
      <a>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "item" %>
      </a>
    <% else %>
      <a>
        <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
      </a>
      <a>
        <%= link_to "Sign In", new_user_session_path, class: "item" %>
      </a>
    <% end %>
  </nav>
</header>

