<%= form_with(model: folk, local: true) do |form| %>
  <% if folk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(folk.errors.count, "error") %> prohibited this folk from being saved:</h2>

      <ul>
      <% folk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
  </div>
  <div class="pad5"></div>
  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
  </div>
  <div class="pad5"></div>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, class: 'form-control', placeholder: 'Email ID' %>
  </div>
  <div class="pad5"></div>
  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number, class: 'form-control', placeholder: 'Mobile Number' %>
  </div>
  <div class="pad5"></div>
  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, class: 'form-control', placeholder: 'Twitter Handle' %>
  </div>
  <div class="pad5"></div>
  <div class="field">
    <%= form.label :date_of_joining %>
    <%= form.text_field :date_of_joining, class: 'form-control', placeholder: 'Date of Joining to IO' %>
  </div>
  <div class="pad5"></div>
  <div class="field">
    <%= form.label :nick_name %>
    <%= form.text_field :nick_name, class: 'form-control', placeholder: 'How can we call any nickname ?' %>
  </div>
  <div class="pad5"></div>
  <div class="actions">
    <%= form.submit class: "btn btn-sm btn-secondary" %>
  </div>
<% end %>
