
<div class="section560">
  <h1>Update Folk</h1>
  <%= render 'form', folk: @folk %>
  <div class="pad10"></div>
  <%= link_to 'Show', @folk, class: "btn btn-sm btn-info" %> &nbsp;
  <%= link_to 'Back', folks_path, class: "btn btn-dark btn-sm" %>
</div>

