<p id="notice"><%= notice %></p>

<h1>All Folks - <%= Rails.env.stag? %>  </h1>

<table class="table table-light table-striped table-bordered">
  <thead>
    <tr class="table-dark">
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Twitter</th>
      <th>Date of joining</th>
      <th>Nick name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folks.each do |folk| %>
      <tr>
        <td><%= folk.first_name %></td>
        <td><%= folk.last_name %></td>
        <td><%= folk.email %></td>
        <td><%= folk.mobile_number %></td>
        <td><%= folk.twitter %></td>
        <td><%= folk.date_of_joining %></td>
        <td><%= folk.nick_name %></td>
        <td><%= link_to 'Show', folk %></td>
        <td><%= link_to 'Edit', edit_folk_path(folk) %></td>
        <td><%= link_to 'Destroy', folk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a Folk ?', new_folk_path, class: "btn btn-secondary btn-sm" %>
