<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    <b>
      Details of <%= @folk.first_name + ' ' + @folk.last_name %>
    </b>
  </div>
  <div class="card-body">
    <p>
      <strong>First name:</strong>
      <%= @folk.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @folk.last_name %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @folk.email %>
    </p>

    <p>
      <strong>Mobile number:</strong>
      <%= @folk.mobile_number %>
    </p>

    <p>
      <strong>Twitter:</strong>
      <%= @folk.twitter %>
    </p>

    <p>
      <strong>Date of joining:</strong>
      <%= @folk.date_of_joining %>
    </p>

    <p>
      <strong>Nick name:</strong>
      <%= @folk.nick_name %>
    </p>

    <%= link_to 'Edit', edit_folk_path(@folk), class: "btn btn-sm btn-info" %> &nbsp;
    <%= link_to 'Back', folks_path, class: "btn btn-dark btn-sm" %>
  </div>
</div>
