/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#headerBar{
  background-color: #131313;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 12;
  min-height: 60px;
}

#navBar .item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.06px;
  color: #FFFFFF;
  padding: 20px;
  display: inline-block;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

#navBar .item:hover .item.active {
  border-bottom: 3px solid #ffffff;
  font-weight: 700;
}

#copyright {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  color: #9b9b9b;
}
